//colors
$color-orange-1: #B57C33;
$color-white: #fff;
$color-dark-1: #101A1E;
$color-dark-2: #28647C;
$color-black: #000;

//fonts
$font-heading--1: 'Merriweather', Georgia, Times New Roman, serif;
$font-heading--2: 'Meow Script', cursive, 'Brush Script MT', 'Lucida Handwriting', sans-serif;
$font-body--1: 'Roboto', Arial, Helvetica, sans-serif;
$font-body--2: 'Roboto Condensed', Arial Narrow, Helvetica Neue Condensed, sans-serif;