@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.main {
    display: grid;
    grid-template-columns: [full-start]minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    grid-template-rows: repeat(2, min-content) 80vh min-content;

    @include respond($bp-medium) {
        grid-template-columns: [full-start] 6rem [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 6rem [full-end];
    }
}