# Ignore node_modules directory (dependencies)
node_modules/

# Ignore Sass cache files
.sass-cache/

# Ignore compiled CSS files if you want to exclude them from version control
css/style.prefix.css

# Ignore log files
*.log

# Ignore build files and directories
dist/
build/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
