@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.about {
    font-size: 1.8rem;
    font-family: $font-body--1;
    font-weight: 400;
    color: $color-white-1;
    line-height: 1.8;
    text-align: center;
    background-color: $color-dark-1;
    padding: 15rem 0;

    //experimental
    grid-column: full-start / full-end;


    &__box {
        width: 75rem;
        margin: 0 auto;

        @include respond($bp-medium) {
            width: 80%;
        }
    }
}