@use '../abstracts/variables' as *;

.events {
    background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../img/img-3-large.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    position: relative;

    grid-column: full-start / full-end;


    &__title-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;

        span {
            display: block;
        }

    }
}