@use '../abstracts/variables' as *;

.header {
    background-image: linear-gradient(to bottom, transparent 75%, $color-dark-1), url(../img/hero-large-2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 95vh;

    position: relative;

    &__box {
        display: flex;
        align-items: center;
        padding: 2.5rem 3.5rem;
        background-color: rgba($color-black, .75);

    }

    &__logo {
        margin-right: 1rem;
    }

    &__title {
        margin-right: auto;
        font-family: $font-heading--1;
        font-size: 2.2rem;
        font-weight: 700;
        color: $color-orange-1;
        text-transform: uppercase;
        width: 14%;

    }

    &__navigation-list {
        display: flex;
        list-style: none;
    }

    &__navigation-item {
        span {
            color: $color-orange-1;

        }
    }

    &__navigation-link:link,
    &__navigation-link:visited {
        padding: 1.25rem 0;
        padding-right: 1rem;
        text-decoration: none;
        color: $color-white;
        font-family: $font-body--2;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__navigation-link {
        display: flex;
        gap: 1rem;
        position: relative;

        &:hover {
            span {
                color: $color-white;
            }

            &::after {
                width: 90%;
            }
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 75%;
            width: 0%;
            height: .2rem;
            background-color: $color-orange-1;
            transition: all .5s ease;

        }
    }

    &__primary-text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}