@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    position: relative;

    height: 95vh;

    background-image: linear-gradient(to bottom, transparent 75%, $color-dark-1), url(../img/hero-small.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    @include respond($bp-small) {
        height: 85vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: $bp-small),
    (min-width: 75em) {
        background-image: linear-gradient(to bottom, transparent 75%, $color-dark-1), url(../img/hero-large.png);
    }

    &__box {
        display: flex;
        align-items: center;

        padding: 2.5rem 3.5rem;

        background-color: rgba($color-black, .75);
    }

    &__logo {
        margin-right: 1rem;

        @include respond($bp-small) {
            max-width: 7.5rem;
            max-height: 7.5rem;
        }
    }

    &__title {
        font-family: $font-heading--1;
        font-size: 2.2rem;
        font-weight: 700;

        width: 14rem;
        margin-right: auto;

        text-transform: uppercase;

        color: $color-orange-1;

        @include respond($bp-small) {
            font-size: 1.9rem;
        }
    }

    &__navigation-list {
        display: flex;

        list-style: none;

        @include respond($bp-largest) {}
    }

    &__navigation-item {
        span {
            color: $color-orange-1;

            @include respond($bp-small) {
                color: transparent;
            }
        }
    }

    &__navigation-link:link,
    &__navigation-link:visited {
        font-family: $font-body--2;
        font-size: 1.6rem;
        font-weight: 700;

        padding: 1.25rem 0;
        padding-right: 1rem;

        text-decoration: none;
        text-transform: uppercase;

        color: $color-white;
    }

    &__navigation-link {
        position: relative;

        display: flex;

        gap: 1rem;

        &:hover {
            span {
                color: $color-white;
            }

            &::after {
                width: 90%;
            }
        }

        &::after {
            position: absolute;
            top: 75%;

            display: inline-block;

            width: 0%;
            height: .2rem;

            content: "";
            transition: all .5s ease;

            background-color: $color-orange-1;
        }
    }

    &__primary-text-box {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        text-align: center;
    }
}