@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
//margin-right

.mr-sm {
    margin-right: 2rem !important;
}

//margin-bottom
.mb-sm-1 {
    margin-bottom: 1rem;
}

.mb-sm {
    margin-bottom: 2rem !important;
}

.mb-md {
    margin-bottom: 3rem !important;
}

.mb-xl {
    margin-bottom: 8rem;
}

// font-size
.fs21 {
    font-size: 2.1rem !important;
}

.fs17 {
    font-size: 1.7rem;
}

//font-weight
.fw-light {
    font-weight: 300 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700;
}

//text
.uppercase {
    text-transform: uppercase;
}

//flex order
.order-1 {
    order: 1;
}
.order-2 {
    @include respond($bp-medium) {
        order: 1;
    }
}


//hamburger function utility
.ham-menu {
    @include respond($bp-largest) {
        display: none !important;
    }
}
.ham-menu-disappear {
    @media only screen and (min-width: $bp-largest) {
        display: none !important;
    }
}